<div class="chat-group-layout">
    <div class="row no-gutters h-100">
        <div class="main-area col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
            <div class="wrapper">
                <div class="header group-header">
                  <div class="inner">
                      <chat-group-info></chat-group-info>
                  </div>
                </div>
                <div class="content group-content">
                  <div class="inner">
                    <div class="scrollable">
                      <chat-group-sharing-area></chat-group-sharing-area>
                    </div>
                  </div>
                </div>
                <div class="footer group-footer">
                  <div class="inner">
                      <chat-group-navigation></chat-group-navigation>
                  </div>
                </div>
              </div>
        </div>
        <div class="chat-side-panel col-lg-3 col-xl-3 d-none d-sm-none d-md-none d-lg-block d-xl-block">
            <chat-group-members></chat-group-members>
        </div>
    </div>
</div>
