<div class="row no-gutters">
    <div class="col">
        <button type="button" class="btn btn-primary">
            <span class="material-icons md-48">mic</span>
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary">
            <span class="material-icons md-48">videocam</span>
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary">
            <span class="material-icons md-48">present_to_all</span>
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary">
            <span class="material-icons md-48">chat</span>
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary">
            <span class="material-icons md-48">people</span>
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary">
            <span class="material-icons md-48">settings</span>
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-danger">
            Leave
        </button>
    </div>
</div>
